@{
    ViewBag.Title = "Home Page";
}

<style>
    .modal {
        min-height:500px;
        min-width:1000px;
    }

    .county {
        border: 1px solid #0073e6;
        margin:2px;
    }
</style>
<button id="btnOpenScheduler">Open Scheduler</button>

<div id="schModal" class="modal container-fluid">
    <!-- Modal content-->
    <div id="counties" class="row">
    </div>
</div>


<script>
    var counties = undefined;
    $('#btnOpenScheduler').click(function () {
        $("#schModal").modal();
        loadCounties();
    });

    function loadCounties() {
        $.ajax({
            url: "http://localhost:51247/api/GetCounties",
            success: function (result) {
                if (result.counties) {
                    counties = result.counties
                }
                addCounties();
            }
        });
    }

    function addCounties() {
        if (counties !== undefined) {
            for (var i = 0; i < counties.Counties.length; i++) {
                $('#counties').append('<div class="col-md-2 county" county-id="' + counties.Counties[i].ID + '">' + counties.Counties[i].Name + '</div>');
            }
        }
    }

</script>