@{
    ViewBag.Title = "Home Page";
}

<style>
    .modal {
        min-height: 500px;
        min-width: 1000px;
    }

    .county {
        border: 1px solid #0073e6;
        margin: 2px;
    }

    .countySelected {
        background-color: #979899;
    }

    .notSelected {
        background-color: transparent;
    }
</style>
<button id="btnOpenScheduler">Open Scheduler</button>

<div id="schModal" class="modal container-fluid">
    <!-- Modal content-->
    <div id="counties" class="row">
    </div>
    <div class="row">
        <div class="col-sm-2">
            <select id="selectedStaff1" class="multiple-select" name="states[]" multiple="multiple"></select>
        </div>

        <div class="col-sm-2">
            <select id="selectedStaff2" class="multiple-select" name="states[]" multiple="multiple"></select>
        </div>

        <div class="col-sm-2">
            <select id="selectedStaff3" class="multiple-select" name="states[]" multiple="multiple"></select>
        </div>
    </div>
    <div class="row">
        <button id="submit">Submit Data</button>
    </div>
</div>


<script>
    var masterData = undefined;
    var request_oncallconditionsstaffObj = { OncallConditionalStaffs: [{ OncallConditionId: 1, SelectedFirst: [1, 2], SelectedSecond: [2, 3], SelectedThird: [3, 4] }, {}] };
    var previous_selected_condition_id = undefined;
    var previous_selected_condition_element = undefined;
    function updateStaffSelection(condition_id) {
        var oncallConditionalStaff = {};
        var selectedStaff1 = $("#selectedStaff1").val();
        var selectedStaff2 = $("#selectedStaff2").val();
        var selectedStaff3 = $("#selectedStaff3").val();

        if (condition_id != undefined) {
            for (var i = 0; i < request_oncallconditionsstaffObj.OncallConditionalStaffs.length; i++) {
                if (request_oncallconditionsstaffObj.OncallConditionalStaffs[i].OncallConditionId == condition_id) {
                    oncallConditionalStaff = request_oncallconditionsstaffObj.OncallConditionalStaffs[i];
                }
            }
            oncallConditionalStaff.OncallConditionId = condition_id;
            oncallConditionalStaff.SelectedFirst = selectedStaff1;
            oncallConditionalStaff.SelectedSecond = selectedStaff2;
            oncallConditionalStaff.SelectedThird = selectedStaff3;
            request_oncallconditionsstaffObj.OncallConditionalStaffs.push(oncallConditionalStaff);
        }
    }
    function loadSelection(condition_id) {
        //var condition_id = $(elem).attr("county-id");
        var oncallConditionalStaff = undefined;

        for (var i = 0; i < request_oncallconditionsstaffObj.OncallConditionalStaffs.length; i++) {
            if (request_oncallconditionsstaffObj.OncallConditionalStaffs[i].OncallConditionId == condition_id) {
                oncallConditionalStaff = request_oncallconditionsstaffObj.OncallConditionalStaffs[i];
            }
        }
        if (oncallConditionalStaff != undefined) {
            $("#selectedStaff1").val(oncallConditionalStaff.SelectedFirst);
            $('#selectedStaff1').trigger('change');
            $("#selectedStaff2").val(oncallConditionalStaff.SelectedSecond);
            $('#selectedStaff2').trigger('change');
            $("#selectedStaff3").val(oncallConditionalStaff.SelectedThird);
            $('#selectedStaff3').trigger('change');

        }
        else {
            $("#selectedStaff1").val(Array.empty);
            $('#selectedStaff1').trigger('change');
            $("#selectedStaff2").val(Array.empty);
            $('#selectedStaff2').trigger('change');
            $("#selectedStaff3").val(Array.empty);
            $('#selectedStaff3').trigger('change');
        }

    }

    $('#btnOpenScheduler').click(function () {
        previous_selected_condition_id = undefined;
        previous_selected_condition_element = undefined;
        $("#schModal").modal();
        loadCounties();


    });

    $("#submit").click(submitForm);

    function loadCounties() {
        $.ajax({
            url: "http://localhost:51247/api/GetCounties",
            success: function (result) {
                if (result.result) {
                    masterData = result.result;
                }
                addStaff();
                addCounties();
               
            }
        });
    }

    function addCounties() {
        if (masterData !== undefined) {
            $('#counties').empty();
            var condition_id_to_select = undefined;
            if (request_oncallconditionsstaffObj != null && request_oncallconditionsstaffObj.OncallConditionalStaffs != null && request_oncallconditionsstaffObj.OncallConditionalStaffs.length > 0) {
                condition_id_to_select = request_oncallconditionsstaffObj.OncallConditionalStaffs[0].OncallConditionId;
            }
            var selectedclass = "";
            var selectedprop = "false";
            for (var i = 0; i < masterData.Counties.length; i++) {

                if (condition_id_to_select != undefined && condition_id_to_select == masterData.Counties[i].ID) {
                    selectedclass = "col-md-2 county countySelected";
                    selectedprop = "true";
                    loadSelection(condition_id_to_select);
                    previous_selected_condition_id = condition_id_to_select;
                }
                else {
                    selectedclass = "col-md-2 county";
                }
                $('#counties').append('<div id="conditionid-' + masterData.Counties[i].ID + '" class="' + selectedclass + '" county-id="' + masterData.Counties[i].ID + '"selected=' + selectedprop + ' onClick = "CountySelection(this)" > ' + masterData.Counties[i].Name + '</div > ');

                if (condition_id_to_select != undefined && condition_id_to_select == masterData.Counties[i].ID) {
                    previous_selected_condition_element = $('#conditionid-' + masterData.Counties[i].ID);
                }


            }

        }
    }

        function CountySelection(elem) {

        var currentValue = $(elem).prop("selected");
        if (currentValue === 'true') {
            $(elem).prop("selected", 'false');
            $(elem).removeClass("countySelected").addClass("notSelected");
           
        } else {
            $(elem).prop("selected", 'true');
            $(elem).removeClass("notSelected").addClass("countySelected");
            if (previous_selected_condition_element != undefined) {
                previous_selected_condition_element.prop("selected", 'false');
                previous_selected_condition_element.removeClass("countySelected").addClass("notSelected");
            }
            previous_selected_condition_element = $(elem);
            updateStaffSelection(previous_selected_condition_id);
           loadSelection($(elem).attr("county-id"));
            previous_selected_condition_id = $(elem).attr("county-id");
        }
    }

    function addStaff() {
        if (masterData !== undefined) {
            var Data = [];
            for (var i = 0; i < masterData.StaffMembers.length; i++) {
                Data.push({ id: masterData.StaffMembers[i].ID, text: masterData.StaffMembers[i].Name });
            }
            $(".multiple-select").select2({
                data: Data
            });
        }
    }

    function submitForm() {
        var county = [];
        $(".countySelected").each(function () {
            county.push($(this).attr("county-id"));
        });
        var selectedStaff1 = $("#selectedStaff1").val();
        var selectedStaff2 = $("#selectedStaff2").val();
        var selectedStaff3 = $("#selectedStaff3").val();
        var oncallconditionsstaff = { OncallConditionId: 1, SelectedFirst: selectedStaff1, SelectedSecond: selectedStaff2, SelectedThird: selectedStaff3 };
        var oncallconditionsstaffs = [];
        oncallconditionsstaffs.push(oncallconditionsstaff);
        var responsemodel = { OncallConditionalStaffs };
        var response = { Counties: county, SelectedFirst: selectedStaff1, SelectedSecond: selectedStaff2, SelectedThird: selectedStaff3 };
        $.ajax({
            type:"POST",
            url: "http://localhost:51247/api/SubmitSchedule",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(response),
            success: function (result) {
                if (result) {
                    alert('data saved');
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>